<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.socket.socketChat.database.mybatis.mapper.LoginMapper">
    <select id="loginDo" parameterType="LoginDTO" resultType="LoginDTO">
        SELECT user_id, user_pwd, user_name, user_access
        FROM userlogin
        WHERE user_id = #{userId} AND user_pwd = sha2(#{userPwd}, 256);
    </select>

    <select id="SignUpChk" parameterType="LoginDTO" resultType="LoginDTO">
        SELECT user_id
        FROM userlogin
        WHERE user_id = #{userId};
    </select>

    <insert id="SignUpDo" parameterType="LoginDTO">
       INSERT INTO userlogin(user_id, user_pwd, user_name) VALUES (#{userId}, sha2(#{userPwd}, 256), #{userName});
    </insert>

    <update id="BanDo" parameterType="LoginDTO">
        UPDATE userlogin SET user_access = 0 WHERE user_id = #{userId};
    </update>

    <update id="PardonDo" parameterType="LoginDTO">
        UPDATE userlogin SET user_access = 100 WHERE user_id = #{userId};
    </update>
</mapper>
